# Ignore build folders
cmake-build-debug/
CMakeFiles/
CMakeCache.txt
Makefile
*.o
*.exe

# Ignore CLion / JetBrains IDE files
.idea/
*.iml
.idea/
cmake-build-debug/
.idea/
cmake-build-debug/
cmake-build-release/
build/
*.iml
